<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.diy2210.sharebypgp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateKeyActivity"
            android:label="@string/create_key"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!--<activity-->
            <!--android:name=".KeyDetailsActivity"-->
            <!--android:label="@string/list_keys"-->
            <!--android:parentActivityName=".CreateKeyActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme" />-->
        <!--<activity-->
            <!--android:name=".AddFolderActivity"-->
            <!--android:label="@string/create_new_folder"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme" />-->
        <activity
            android:name=".TransferFileActivity"
            android:label="@string/transfer_file"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>